body{ background: url("https://www.wns.com/Portals/0/Images/HeaderBanner/desktop/663/13/01_AWARD_HEADER_1980x1080.jpg");
text-align:center;}
img{
width: 50px;
width: 50%;
font-size: 20px;
}
h1{font-family: 'Pacifico', cursive;}
h2{font-family: 'Abril Fatface', cursive;}
h4{font-size:28px;}
h5{font-size:28px;}
p{font-size:20px;}
p{font-family: 'Bitter', serif;}
